<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cred</title>
    <link rel="stylesheet" href="cred.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="tab1">
            <div class="part1">
                <img class="img1" src="https://web-images.credcdn.in/_next/assets/images/home-page/cred-logo.png" alt="">
                
            </div>
            <div class="part2">
               
            </div>
            <div class="part3">
                <nav>
                <p class="p1">credit score check</p>
                <p class="p1">CRED pay</p>
            </nav>
            </div>
        </div>

        <div class="tab2">
            <h1> rewards for paying <br> &nbsp;&nbsp;  credit card bills. </h1>
           
            <h4>join 9M+ members who win rewards and cashbacks everyday</h4>
            <button type="submit"> <b>Download CRED</b></button>

        </div>

    </div>
</body>
</html>