<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>botim</title>
    <link rel="stylesheet" href="botim.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Lato:wght@300&family=Montserrat:wght@100;400;500&family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/43d7ed04af.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header1">
                <img class="img1" src="https://assets.website-files.com/642532eebf0ae34ecb684133/644e3fa5dd1f0974a3342000_Group%202003.svg" alt="">
            </div>
            <div class="header2"></div>
            <div class="header3">
                <p class="p1"> <button class="b2"></button>Home</p>
                <p class="p1">Features</p>
                <p class="p1">Download</p>
                <p class="p1">BOTIM Web</p>
                <p class="p1">Advertise with Us</p>
                <button class="b1">EN</button>
            </div>
        </div>
        <div class="section">
            <div class="blank">

            </div>
            <div class="content-area">
                <div class="head">
                    <h1>Free , Secure & <br>Reliable Messages <br>and Calls</h1>
                </div>
                <div class="middle">
                    <p class="p2">Bring your family & friends closer than ever. <br> Unlimited worldwide calling & messaging app for everyone.</p>
                    <p class="p3">* Data charges may apply. Contact your provider for details</p>
                </div>
                <div class="last">
                    <div class="a">
                        <i class="fa-brands fa-android"></i>
                    <a href="">BOTIM for Android</a>

                </div>
                <div class="a">
                    <i class="fa-brands fa-apple" style="width: 15px;"></i>
                    <a href=""> BOTIM for iphone</a>
                </div>
                <div class="a">
                    <i class="fa-solid fa-laptop"></i>
                    <a href="">BOTIM for mac/pc</a>
                </div>
                <div class="a">
                    <i class="fa-brands fa-android"></i>
                    <a href="">Download APK</a>
                </div>
                </div>
            </div>
            <div class="imageDiv">
                <img class="img2" src="https://botim.me/static/home_landing2.min.png" alt="">
                
            </div>
        </div>
    </div>
</body>
</html>
