<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/43d7ed04af.js" crossorigin="anonymous"></script>
</head>
<body class="container">
    <div class="header">
        <div class="file">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="arrows">
            <div class="arrow-left">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="arrow-right">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="clock">
                <i class="fa-regular fa-clock"></i>
            </div>
            <div class="search-bar">
                <input type="search" placeholder="Search levelX">
            </div>
        </div>
        <div class="exit"></div>
    </div>
    <div class="content">
        <div class="list1">
            <div class="list1-top">
                <div class="levelx list1icons"></div>
                <div class="home list1icons"></div>
                <div class="dms list1icons"></div>
                <div class="activity list1icons"></div>
                <div class="more list1icons"></div>
            </div>
            <div class="list1-bottom">
                <div class="create list1icons"></div>
                <div class="profile list1icons"></div>
            </div>
        </div>
        <div class="list2">
            <div class="list2Head">
                <div class="lx"></div>
                <div class="lines"></div>
                <div class="note"></div>
            </div>
            <div class="list2Area">
                <div class="draft"></div>
                <div class="channels"></div>
                <div class="direct"></div>
                <div class="add"></div>
                <div class="apps"></div>
            </div>
        </div>
        <div class="content-area">
            <div class="icon">
                <div class="logo"></div>
                .
            </div>
        </div>
    </div>


</body>
</html>